<div class="about-img"></div>
<div class="container">
	<div class="about-title-box margin-top margin-bottom">
		<h1 class="text-center about-title padding-top">ARBBYについて</h1>
		<h3>ARBBYとは、趣味を投稿し共有するアプリです。</h3>
		<h4 class="padding-bottom">
			また、趣味がない方は投稿を参考にやってみたいことを発見していただく場所でもあります。
		</h4>
	</div>
	<div class="text-center">
		<h3 class="margin-bottom">〜主な機能〜</h3>

		<h4 id="about-post-title" class="about-manu margin-bottom">投稿機能　▼
		</h4>
		<div id="about-post" class="display-none">
			<p>趣味の投稿を行います。<br>
				画像、タイトル、本文などを入力し投稿をお願い致します。<br>
				また、経験値は※チャレンジした機能に使用されます。
				<br>
				投稿は、右上にある「<i class="fas fa-bars"></i>」
				をクリックし、「趣味を投稿する」をクリックで<br>
				投稿画面へ移動します。
			</p>
		</div>

		<h4 id="about-challenge-btn-title" class="margin-bottom about-manu">チャレンジボタン　▼
		</h4>
		<div id="about-challenge-btn" class="display-none">
			<p>
				投稿で、チャレンジしてみたいと思ったものに「チャレンジボタン」を押してください。<br>
				チャレンジボタンが押されたものは、マイページにブックマークされます。<br>
				チャレンジボタンは、趣味詳細ページにある 「<i class="fas fa-fire-alt"></i>」です。
			</p>
		</div>

		<h4 id="about-challenge-title" class="margin-bottom about-manu">チャレンジした　▼
		</h4>
		<div id="about-challenge" class="display-none">
			<p>
				チャレンジしたは、チャレンジボタンでブックマークをしたものをチャレンジした時に押してください。<br>
				ボタンはブックマーク内にあります。
				押すと投稿の際に設定されている、経験値が手に入ります。<br>
				また、経験値が一定以上たまるとレベルが上がります。<br>
				レベルアップを目標にいっぱいチャレンジしてください！！
			</p>
		</div>

		<h4 id="about-calendar-title" class="margin-bottom about-manu">カレンダー　▼
		</h4>
		<div id="about-calendar" class="display-none">
			<p>
				カレンダーにチャレンジする趣味の登録ができます。<br>
				登録は、「チャレンジした」と同様のブックマーク内から行えます。<br>
				また、登録されたカレンダーは右上の「<i class="fas fa-bars"></i>」をクリックし<br>
				「カレンダー」をクリックで確認できます。
			</p>
		</div>

		<h4 id="about-surprise" class="margin-bottom about-manu">びっくりボタン　▼
		</h4>
		<div id="about-surprise-title" class="display-none">
			<p>
				びっくりボタンは、こんな趣味があるのか！？とびっくりした趣味に押してください。<br>
				ボタンは、趣味詳細ページの「<i id="surprise_icon" class="far fa-surprise"></i>」です。<br>
			</p>
		</div>
	</div>
</div>
