<div class="gacha-back-img">
	<div class="container">
		<div class="text-center">
			<div class="gacha-field">
				<div class="gacha-box">
					<h1>趣味ガチャ</h1>
					<div id="gacha" class="mx-auto">
						<button class="btn btn-warning btn-lg">ガチャる</button>
						<div id="rare">
							<h3>レア度</h3>
							<div class="clearfix">
								<% @rare.times do %>
									<div class="rare_icon">
										<i class="fas fa-star fa-3x"></i>
									</div>
								<% end %>
							</div>
						</div>
						<div id="gacha_hobby" class="mx-auto margin-top margin-bottom">
							<div class="row">
								<div class="col-lg-12 margin-top">
									<% if @hobby.images == [] %>
										<img src="../../assets/hobby_no_image.jpeg" class="hobby_img_show">
									<% else %>
										<%= image_tag @hobby.images[0].to_s, class: "hobby_img_show" %>
									<% end %>
								</div>
								<div class="col-lg-12 margin-top margin-bottom">
									<p class="gacha_text"><%= @hobby.title %></p>
									<%= link_to '詳細画面へ', hobby_path(@hobby.id), class: 'btn btn-light
									'%>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ガチャ演出 -->
<%= javascript_include_tag "gacha" %>
