<div class="top-title-box">
		<h3 class="top-title-text">ようこそ　ARBBYへ
		</h3>
</div>

<div class="container">
	<div class="row home-text-box">
		<div class="col-lg-4 home-text d-flex align-items-center">
			<p class="text-justify home-text-body">
				さっそくですが、<br>
				あなたに趣味はありますか？
			</p>
		</div>
		<div id="top-img2" class="col-lg-8"></div>
	</div>
	<div class="row home-text-box">
		<div id="top-img1" class="col-lg-8"></div>
		<div class="col-lg-4 home-text d-flex align-items-center">
			<p class="text-justify home-text-body">
				もしあれば、この
				<strong>ARBBYで</strong>共有して<br>
				自慢しちゃいましょう！！
			</p>
		</div>
	</div>
	<div class="row home-text-box">
		<div class="col-lg-4 home-text d-flex align-items-center">
			<p class="text-justify home-text-body">
				趣味がない人は、
				<strong>ARBBY</strong>で見つけて<br>
				チャレンジしょう！！<br>
				<strong>
					<span class="text-body-strong">〜趣味は人生を豊かにします！〜
					</span>
				</strong>
			</p>
		</div>
		<div id="top-img3" class="col-lg-8"></div>
	</div>
	<div class="text-center home-sub-title">
		<h1>ARBBYをはじめよう</h1>
	</div>
	<div class="top-button">
		<%= link_to 'ログイン', new_user_session_path, class: "btn btn-outline-info btn-lg btn-block" %>
	</div>
	<div class="top-button">
		<%= link_to '会員登録', new_user_registration_path, class: "btn btn-outline-success btn-lg btn-block" %>
	</div>
</div>

