/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";
@import "tempusdominus-bootstrap-4.css";

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img_prev {
	width: 200px;
	height: 200px;
}

.hobby_box {
	float: left;
	margin: 10px;
}
.hobby_img_index {
	width: 300px;
	height: 300px;
}

.hobby_img {
	width: 300px;
}

.hobby_img_show {
	width: 450px;
	height: 400px;
}

.user_info {
	float: left;
}

.hobby_img {
	overflow: auto;
}
.user_hobby_index {
	float: right;
}

.user_hobby_title {
	float: right;
}

.user_hobby_img {
	float: left;
}

#img_prev_user {
	width: 200px;
	height: 200px;
}

.round_img {
	border-radius: 50%;
	border: solid 1px #ccc;
	padding: 4px;
}

.profile_image_show {
	width: 100px;
	height: 100px;
}

.hobby_index_profile_img {
	width: 50px;
	height: 50px;
}

.fire_icon {
	color: red;
}

.surprise_icon {
	color: #66FF00;
}

.top_box {
	width: 300px;
	height: 200px;
	background-color: red;
}

.modal-level {
	opacity: 0.9;
	background-color: #33CCFF;
}

.date_time {
	position: relative;
}

.fc-sun {
 color: red;
}

.fc-sat {
 color: blue;
}

.fc-time {
	color: white;
}

.fc-title {
	color: white;
}